.toggle-button{
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-font-size: 20px;

}

.toggle-button:selected{
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
}

.glyph-icon{
    -fx-fill: white;
}

.toggle-button:selected .glyph-icon{
    -fx-fill: #000000;
}

.left-side{
    background: rgb(35,37,38);
    /*-fx-background-color: linear-gradient(to top, rgba(35,37,38,1), rgba(65,67,69,1));*/
    -fx-background-color: linear-gradient(to top, rgba(22,34,42,1), rgba(58,96,115,1));
}

.right-main{
    -fx-background-color: linear-gradient(to top, rgba(35,37,38,1), rgba(65,67,69,1));
}

.load-pane{
    -fx-background-color: linear-gradient(to top, rgba(20,30,48,1), rgba(36,59,85,1));
}

.bottom-pane{
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 20px;
}

.btn{
    -fx-background-radius: 50px;
    -fx-pref-width: 200px;
    -fx-pref-height: 60px;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}
#search{
    -fx-fill: #1e6ef8;
}

/*Table Styles Start*/
.table-view, table-view:focused{
    -fx-background-insets: 0px;
    -fx-background-radius: 20px 20px 0px 0px;
    -fx-padding: 0 0 0 0;
}

/*.table-view:focused {
    -fx-background-insets: 0px;
}*/

.table-view .column-header {
    -fx-size: 40px;
    -fx-background-color: #7708f5;
    -fx-font-size: 20;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.table-view .table-row-cell:empty {
    -fx-background-color: white;
}

.table-view .table-row-cell:selected {
    /*-fx-background-color:linear-gradient(to right, rgba(119, 8, 245, 0.29), rgba(15, 93, 255, 0.39));*/
    -fx-background-color: linear-gradient(to right, rgba(0, 198, 255, 0.29), rgba(0, 114, 255, 0.39));
}

.table-view .table-row-cell:selected * {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: rgb(54, 49, 49);
}

.table-view .table-cell {
    -fx-font-size: 15;
}

.table-view .column-header-background {
    /*-fx-background-color: #7708f5;*/
    -fx-background-color: linear-gradient(to right, #1e3c72, #2a5298);
    -fx-background-radius: 20px 20px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 10 0 10px 0;

}


.table-view .column-header {
    -fx-background-color: transparent;
}


.column-header {
    -fx-sort-icon-display: LEFT;
}

.table-view .arrow {
    -fx-background-color: white;
}

/*  Hide Horizontal Scroll Bar On Table  */
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view .virtual-flow .scroll-bar:horizontal .track{
    -fx-background-insets: -1px;
}

.table-view .column-header-background .filler{
    -fx-opacity: 0;
}

/*  Table Styles End  */