.toggle-button{
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-font-size: 20px;

}

.toggle-button:selected{
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
}

.glyph-icon{
    -fx-fill: white;
}

.toggle-button:selected .glyph-icon{
    -fx-fill: #000000;
}

.left-side{
    background: rgb(35,37,38);
    /*-fx-background-color: linear-gradient(to top, rgba(35,37,38,1), rgba(65,67,69,1));*/
    -fx-background-color: linear-gradient(to top, rgba(22,34,42,1), rgba(58,96,115,1));
}

.right-main{
    -fx-background-color: linear-gradient(to top, rgba(35,37,38,1), rgba(65,67,69,1));
}

.load-pane{
    -fx-background-color: linear-gradient(to top, rgba(20,30,48,1), rgba(36,59,85,1));
}

.bottom-pane{
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 20px;
}

.btn{
    -fx-background-radius: 50px;
    -fx-pref-width: 200px;
    -fx-pref-height: 60px;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}